binds {
  Mod+Q hotkey-overlay-title="Open browser: waterfox" {spawn "waterfox";}
  Mod+Shift+M { spawn-sh "nu ~/.config/niri/scripts/helper-switch-audio-source.nu"; }

  Mod+Return hotkey-overlay-title="Open a Terminal with tmux" { spawn-sh "ghostty -e tmux"; }
  Mod+Ctrl+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
  Mod+Shift+Return { spawn-sh "ghostty -e tmux new-session -A"; }
  Mod+D hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

  Mod+B { spawn-sh "ghostty -e btop"; }
  Mod+A { spawn-sh "ghostty -e rmpc"; }
  Mod+I { spawn-sh "ghostty -e impala"; }
}
