.config/mozilla
.config/net.imput.helium/
.config/ibus
pavucontrol.ini
.config/gh
.config/mozc
.config/nushell/history.txt
.config/fcitx/dbus/
.config/dconf/*
/.scripts/make-music
.config/nvim/nvim-pack-lock.json
.config/mimeapps.list
