themes {
  tokyonight_moon {
    fg "#c8d3f5"
    bg "#2f334d"
    black "#222436"
    red "#ff757f"
    green "#c3e88d"
    yellow "#ffc777"
    blue "#82aaff"
    magenta "#c099ff"
    cyan "#86e1fc"
    white "#828bb8"
    orange "#ff966c"
    // ribbon_unselected {
    //   base "#c8d3f5"
    //   background "#2f334d"
    //   emphasis_0 "#ff757f"
    //   emphasis_1 "#c8d3f5"
    //   emphasis_2 "#ff966c"
    //   emphasis_3 "#ffc777"
    // }
  }
}
