include "./binds/audio.kdl"
include "./binds/column-workspace.kdl"
include "./binds/misc.kdl"
include "./binds/programs.kdl"

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  XF86MonBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl -e4 -n2 set 5%+"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl -e4 -n2 set 5%-"; }
  XF86KbdBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl -d ':white:kbd_backlight' set +20%";}
  XF86KbdBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl -d ':white:kbd_backlight' set 20%-"; }

  Mod+O repeat=false { toggle-overview; }

  // The quit action will show a confirmation dialog to avoid accidental exits.
  Mod+Shift+E { quit; }
}
