spawn-at-startup "quickshell"
spawn-sh-at-startup "nu ~/.config/niri/scripts/helper-wpaperctl-wallpaper.nu"
spawn-sh-at-startup "wpaperd --config ~/.local/share/wpaperd/config.toml"
spawn-sh-at-startup "fcitx5 -d"
