include "./modules/input.kdl"
include "./modules/output.kdl"
include "./modules/layout.kdl"
include "./modules/animations.kdl"
include "./modules/window-rules.kdl"
include "./modules/binds.kdl"
include "./modules/startup.kdl"

hotkey-overlay {
  skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
